# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: Default
  demands:
  - Agent.Name -equals MySelfHostedAgent-ABT
  - docker

variables:
  imageName: 'anbinhtrong/helloworld'

steps:
- checkout: self

- task: PowerShell@2
  displayName: 'Check Docker environment'
  inputs:
    targetType: inline
    script: |
      docker version
      docker info

- task: Docker@2
  displayName: 'Build and Push image to Docker Hub'
  inputs:
    containerRegistry: 'dockerhub-conn'  # service connection to Docker Hub
    repository: '$(imageName)'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.SourceVersion)
      latest

- task: PowerShell@2
  displayName: 'Docker disk usage (before)'
  inputs:
    targetType: inline
    script: docker system df -v

- task: PowerShell@2
  displayName: 'Remove just-built images + prune dangling'
  inputs:
    targetType: inline
    script: |
      docker rmi "$(imageName):$(Build.SourceVersion)" -f
      docker rmi "$(imageName):latest" -f 2>$null
      docker image prune -f

- task: PowerShell@2
  displayName: 'Docker disk usage (after)'
  inputs:
    targetType: inline
    script: docker system df -v